.module {
    outline: 2px solid #000;
}
.item {
    outline: 2px solid #ddd;
}
.position {
    outline: 2px solid #07f;
}
.pilot-data {
    outline: 2px solid #ff0;
}
.alias {
    outline: 2px solid #f00;
}
.laps {
    outline: 2px solid #0f0;
}